@model List<AllPhotosDTO>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h4>@Context?.Request?.Query["category"]</h4>
        </div>
    </div>
    <partial name="_Grid" model="Model"/>
</div>