@model Photo

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="photo-container">
            <img src="~/images/@Model.FileName"/>
        </div>
        <div class="info-container">
            <h1>@Model.Name</h1>
            <hr />
            <p>@Model.Description</p>
        </div>
    </div>
</div>