@model Photo

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-body">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>