@model GalleryPhoto

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-8 mx-auto text-center">
            <h1>Thank you for using OwlStock as your source of stock photos!</h1>
            <p class="mt-4">Click the button below to get your photo.</p>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 col-md-6 col-lg-4 mx-auto text-center">
            <form asp-action="DownloadOrderedPhoto" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="FileData" />
                <input type="hidden" asp-for="FileType" />
                <input type="hidden" asp-for="FilePath" />
                <input type="hidden" asp-for="FileName" />
                <button type="submit" class="btn btn-primary btn-lg">Download</button>
            </form>
        </div>
    </div>
    <div class="row">
        @await Component.InvokeAsync("PhotoSuggestions", ViewData["categories"])
    </div>
</div>