<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OwlStock.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/28246c67aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/OwlStock.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/site/logo.png" alt="site-logo" class="logo">&nbsp;<b>OwlStock</b>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Photo" asp-action="All">Discover</a>
                        </li>

                        @if(User.Identity != null)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Order" asp-action="MyOrders">Orders</a>
                                    </li>
                            }
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                    <form asp-controller="Photo" asp-action="AllByTag" method="GET" class="form-inline mx-4">
                      <input name="tag" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </nav>
            <partial name="_CategoriesMenu"></partial>
        </div>
    </header>

    <main role="main" class="pb-3 mt-3">
            @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - OwlStock
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>