<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-12 text-center mx-auto mt-5">
            <h1>Your reservation was succesful!</h1>
            <h4>We'll contact you soon for further details.</h4>
        </div>
    </div>
</div>
 