<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-12 text-center mx-auto mt-5">
            <h1>Резервацията беше направена успешно!</h1>
            <h4>Ще се свържем с Вас за повече детайли.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12mx-auto text-center mt-5">
            <a asp-action="MyPhotoShoots" class="btn btn-primary">Вашите фотосесии</a>
        </div>
    </div>
</div>
 