<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <a asp-action="Reserve" class="btn btn-success">Reserve</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <a asp-action="MyPhotoShoots" class="btn btn-dark">My Photo Shoots</a>
        </div>
    </div>
</div>