@model PhotoShoot

@{
    ViewData["Title"] = "Управление на фотосесия";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>
