@{
    ViewData["Title"] = "За нас";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>DreamPix</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p id="text">Ние сме фотографска агенция, предлагаща услуги в различни аспекти на фотографията - портретна, сватбена, събътия, имоти и др. За момента развиваме дейността си в областите Пловдив, Пазарджик, Хасково и Стара Загора, като планираме разширение в бъдеще.</p>
            <p id="text">Нашата страст е посветена на улавянето на най-ценните Ви моменти. В DreamPix вярваме, че всяка снимка разказва история и всяка история заслужава да бъде разказана с изключително внимание към детайла и артистичност.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Нашата мисия</h4>
            <p id="text">Мисията на DreamPix е да превърнем вашите спомени в изкуство. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или лична фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Защо да изберете DreamPix?</h4>
            <p class="mt-3" id="text"><i class="fa-solid fa-check fa-lg text-success"></i> Ще получите професионализъм на добра цена.</p>
            <p class="mt-3" id="text"><i class="fa-solid fa-check fa-lg text-success"></i> Имате свободата да изберете подходяща дата и час за вашата фотосесия безплатно и изцяло онлайн.</p>
            <p class="mt-3" id="text"><i class="fa-solid fa-check fa-lg text-success"></i> Имате възможност сами да изберете мясото на фотосесията, както и да оставите това на нас.</p>
            <p class="mt-3" id="text"><i class="fa-solid fa-check fa-lg text-success"></i> Ще имате кадрите си директно в профила Ви в DreamPix, като така ще спестите „размяна“ на флашки и линкове към облачни пространства. Разбира се, това не е задължително, ако предпочитате лично предаване.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
           <a asp-controller="PhotoShoot" asp-action="Reserve" class="btn btn-primary btn-lg">Резервирай още сега!</a>
        </div>
    </div>
</div>

<style>
    #text{
        font-size: 1.3rem;
    }
</style>
