@{
    ViewData["Title"] = "Цени";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Цени</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table table-striped">
                <thead>
                    <tr>
                        <th>Услуга</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Лична фотосесия</td>
                        <td>150 лв</td>
                    </tr>
                    <tr>
                        <td>Фотосесия за бременни</td>
                        <td>150 лв</td>
                    </tr>
                    <tr>
                        <td>Детска фотосесия</td>
                        <td>200 лв</td>
                    </tr>
                    <tr>
                        <td>Свето кръщение</td>
                        <td>200 лв</td>
                    </tr>
                    <tr>
                        <td>Сватба</td>
                        <td>300 лв</td>
                    </tr>
                    <tr>
                        <td>Сватба Plus</td>
                        <td>600 лв</td>
                    </tr>
                    <tr>
                        <td>Абитуриентски бал</td>
                        <td>300 лв</td>
                    </tr>
                    <tr>
                        <td>Автомобил</td>
                        <td>100 лв</td>
                    </tr>
                    <tr>
                        <td>Имот/сграда</td>
                        <td>По договаряне</td>
                    </tr>
                    <tr>
                        <td>Събитие</td>
                        <td>По договаряне</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
